[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SeedMaker"]
	path = SeedMaker
	url = https://github.com/hdhshowalter/seedmaker
